# Service and private folders
Documents/
Foto/
Otus_open_day/
tuition fees.xlsx
.DS_Store
.ipynb_checkpoints/
Bayes theorem - 15 min.mp4
Archive/
iframe_figures/
weather_example/
*.jpg
*.jpeg
*.png
*.gif
~*
.idea/
Ext-lib/
*.pdf
*.lock

*.zip

*.mp4
# TeX service files
*.aux
*.blg
*.log
*.out
*.gz
*.toc

DevOps/23 - Популярные фреймворки в распределенной среде/Code/pipelineModel/

RL/02 - Deep Reinforcement Learning/02 - 04 Actor-Critic algorithm/Code/__pycache__/

RL/02 - Deep Reinforcement Learning/02 - 04 Actor-Critic algorithm/Code/util/__pycache__/

*.svg

*.avif

DevOps/30 - Практика. Автоматическая валидация./31. Практика. Автоматическая валидация.pptx

DevOps/30 - Практика. Автоматическая валидация./data.csv

*.webp

RL/01 - Introduction in Reinforcement Learning/01 - 01 Introduction in RL/Archive 01.pptx

RL/Open_day_1 - overview algorithms/tensorboard_log/

RL/Open_day_1 - overview algorithms/service_tools.ipynb

ML Adv/Open_day_pipelines_sklearn/notebooks/owesome_pipeline.pkl

ML Adv/04 - Featuretools/requirements.txt

ML Adv/04 - Featuretools/featuretools-archive.ipynb

ML Adv/04 - Featuretools/data/

ML Adv/06 - Нечеткие дубли/data/

ML Adv/09 - Docker - Структура, применение, деплой/code/dummy_service/__pycache__/

Analytics/08 - Библиотека Numpy/Addons/numpy_exercises/

Analytics/09 - Библиотека Pandas/Addons/pandas_exercises

Analytics/10 - Продвинутый Pandas/code/event_data_train.csv

Analytics/10 - Продвинутый Pandas/code/submissions_data_train.csv

MLPro/16 - Продвинутые методы оптимизации/MNIST_data/

MNIST_data/

MLPro/18 - Борьба с переобучение нейросетей, взрыв и затухание градиентов/code/wandb/

Analytics/12 - EDA/code/event_data_train.csv

Analytics/12 - EDA/code/submissions_data_train.csv

Analytics/12 - EDA/code/users_date.csv

MLPro/20 - Рекуррентные сети/code/runs/

Analytics/14 - Intro SQL/code/users_18_05.db

Analytics/16 - Window functions/code/DemoDB

RL/Open_day_2 - Stocks and traiding/notebooks/tensorboard_log/

RL/Open_day_2 - Stocks and traiding/notebooks/data/

RL/01 - Introduction in Reinforcement Learning/01 - 01 Introduction in RL/code/data/

MLBasic/18 - EDA from scratch/code/event_data_train.csv

MLBasic/18 - EDA from scratch/code/submissions_data_train.csv

MLBasic/18 - EDA from scratch/code/users_date.csv

MedML/Encefalorgrams/hms-harmful-brain-activity-classification

ML Adv/12 - Извлечение признаков. Fourier и Wavelet transformation/code/data/

MedML/Encefalorgrams/brain-spectrograms/

MedML/Encefalorgrams/models/

MedML/Encefalorgrams/pca-data/
FinML/Open_lesson_TechML/code/catboost_info/catboost_training.json
FinML/Open_lesson_TechML/code/catboost_info/learn_error.tsv
FinML/Open_lesson_TechML/code/catboost_info/time_left.tsv
FinML/Open_lesson_TechML/code/catboost_info/learn/events.out.tfevents
MLBasic/42 - ML practice/code/catboost_info/learn_error.tsv
MLBasic/42 - ML practice/code/catboost_info/time_left.tsv
MLBasic/42 - ML practice/code/catboost_info/learn/events.out.tfevents
MLBasic/42 - ML practice/code/catboost_info/catboost_training.json
ML Adv/40 - Pipelines/code/notebooks/catboost_info/learn_error.tsv
ML Adv/40 - Pipelines/code/notebooks/catboost_info/time_left.tsv
ML Adv/40 - Pipelines/code/notebooks/catboost_info/catboost_training.json
ML Adv/40 - Pipelines/code/notebooks/owesome_pipeline.pkl
ML Adv/40 - Pipelines/code/notebooks/catboost_info/learn/events.out.tfevents
ML Adv/40 - Pipelines/images/images_is_comming.md

ML Adv/40 - Pipelines/code/notebooks/Old_Pipelines.ipynb
Python/Open_day_AirFlow/mlruns/0/meta.yaml

Python/Open_day_AirFlow/dags/__pycache__/

Python/Open_day_AirFlow/logs/

MLOps/Open_day_MLFlow/code/mlartifacts/

MLOps/Open_day_MLFlow/code/mlruns/

Python/Open_day_AirFlow/airflow.db

Python/Open_day_AirFlow/webserver_config.py

Python/Open_day_AirFlow/airflow.cfg

Python/Open_day_AirFlow/standalone_admin_password.txt
RL/02 - Deep Reinforcement Learning/02 - 05 PG-PPO/code/sb3_log/
RL/02 - Deep Reinforcement Learning/02 - 06 TD3/code/sb3_log/
ML Adv/26 - Deep Q-Network/code/sb3_log/
FinML/04 - DataAnalisysTools/Практика/input/bitcoin.csv
FinML/04 - DataAnalisysTools/Практика/input/bnb.csv
FinML/04 - DataAnalisysTools/Практика/input/ethereum.csv
FinML/04 - DataAnalisysTools/Практика/reports/dataprep_report.html
FinML/04 - DataAnalisysTools/Практика/reports/profile_report.html
FinML/04 - DataAnalisysTools/Практика/reports/report_sweetviz.html
RL/Open_day_SARSA_Qlearning/code/sb3_log/
*.pyc
ML Adv/36 - MLFlow/code/mlartifacts/
ML Adv/36 - MLFlow/code/mlruns/
