# Service and private folders
Documents/
Foto/
Otus_open_day/
tuition fees.xlsx
.DS_Store
.ipynb_checkpoints/
Bayes theorem - 15 min.mp4
Archive/
iframe_figures/
weather_example/
*.jpg
*.jpeg
*.png
*.gif
~*
.idea/
Ext-lib/
*.pdf
*.lock

*.zip

*.mp4
# TeX service files
*.aux
*.blg
*.log
*.out
*.gz
*.toc

DevOps/23 - Популярные фреймворки в распределенной среде/Code/pipelineModel/

RL/02 - Deep Reinforcement Learning/02 - 04 Actor-Critic algorithm/Code/__pycache__/

RL/02 - Deep Reinforcement Learning/02 - 04 Actor-Critic algorithm/Code/util/__pycache__/

*.svg

*.avif

DevOps/30 - Практика. Автоматическая валидация./31. Практика. Автоматическая валидация.pptx

DevOps/30 - Практика. Автоматическая валидация./data.csv
